# Kaggle Competition: Spaceship Titanic

The Spaceship Titanic competition is a Kaggle competition that is part of the [Titanic: Machine Learning from Disaster](https://www.kaggle.com/competitions/spaceship-titanic) competition. The goal of the competition is to predict whether a passenger was transported by the anomaly using records recovered from the spaceship’s damaged computer system.

## Read the Data

Use Pandas and its `read_csv` function to read the data into a DataFrame.

In [94]:
# 👇 Your code goes here!

import pandas as pd

TRAIN_DATA_PATH = "Data/spaceship-titanic/train.csv"

df = pd.read_csv(TRAIN_DATA_PATH)

df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

Use the `head` function to display the first few rows of the data.

In [95]:
# 👇 Your code goes here!

df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

### Get the insights of the data

Use the `info` method to get the insights of the data.

In [96]:
# 👇 Your code goes here!

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

Create a list of the columns with numerical data types that is with a `float64` or `int64` data type.

In [97]:
numerical_columns = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
numerical_columns

['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

- Fill in the missing values in the numerical columns with the mean of the column.
- Could you do this using a `foor loop`?

In [98]:
# Fill nan values for he age column with the mean age
for column_name in numerical_columns: #column_name lo nombro sin mas

   mean = df[column_name].mean()

    # 👇 insert your code here (one line)
   df[column_name] = df[column_name].fillna(mean)

Use `df.isna().sum()` to check if there are any missing values in the numerical columns.

In [99]:
# 👇 Your code goes here!

df.isna().sum() #cuentame los valores nulos que tiene cada columna

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

## Training a Model to Predict Transported People

Use the `train_test_split` function from `sklearn.model_selection` to split the data into a training set and a test set. X could be all the numerical columns except the `transported` column and y should be the `transported` column.

In [100]:
## split into test and train
from sklearn.model_selection import train_test_split

TEST_SIZE = 0.2 #por regla general se utiliza un 80-20 es decir, un 20 porciento de los datos para entrenar
RANDOM_STATE = 42

X = df[numerical_columns] # 👈 Fill this in!
y = df["Transported"] # 👈 Fill this in!

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=TEST_SIZE, random_state=RANDOM_STATE)

Use a `LogisticRegression` model to train the model on the training set. It can be found in `sklearn.linear_model` module.

In [101]:
# 👇 Your code goes here!
#from sklearn.neighbors import KNeighborsClassifier para modelo de clasificacion

from sklearn.linear_model import LogisticRegression

model = LogisticRegression()

Use the `fit` method to train the model on the training set.

In [102]:
# 👇 Your code goes here!

model.fit(X_train, y_train)

LogisticRegression()

Use the `X_test` to make predictions using the `predict` method.

In [103]:
# 👇 Your code goes here!

y_pred = model.predict(X_test) #obtenemos las predicciones del modelo que vamos a usar ahora para evaluar el modelo

### Evaluate the model

Use the `accuracy_score`, `precision_score`, `recall_score` and `f1_score` functions from `sklearn.metrics` to evaluate the model. Print the results.

In [104]:
# 👇 Your code goes here!

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score


accuracy = accuracy_score(y_test, y_pred)
print("accuracy", accuracy)

precision = precision_score(y_test, y_pred)
print("precision", precision)

recall = recall_score(y_test, y_pred)
print("recall", recall)

f1 = f1_score(y_test, y_pred)
print("f1", f1)

accuracy 0.7694077055779184
precision 0.7214484679665738
recall 0.8849658314350797
f1 0.7948849104859336

## Push results to Kaggle

In [105]:
TEST_DATA_PATH = "Data/spaceship-titanic/test.csv"

df_test = pd.read_csv(TEST_DATA_PATH)
df_test.isna().sum()

PassengerId       0
HomePlanet       87
CryoSleep        93
Cabin           100
Destination      92
Age              91
VIP              93
RoomService      82
FoodCourt       106
ShoppingMall     98
Spa             101
VRDeck           80
Name             94
dtype: int64

In [106]:
df_test.head() #vemos que no tiene la columna de trasnported

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

### Process the test data

Numerical columns have to be filled with the median of the column. You did it before on the train set. The code must be the same here.

In [107]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [108]:
# 👇 Your code goes here!

numerical_columns = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
numerical_columns

['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

In [112]:
for column_name in numerical_columns:
    mean = df_test[column_name].mean()
    
    df_test[column_name] = df_test[column_name].fillna(mean)

    df_test[column_name] = df[column_name].fillna(mean)

In [114]:
df.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age               0
VIP             203
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
Name            200
Transported       0
dtype: int64

### Geet the features from the test set

In [115]:
X_test = df_test[numerical_columns]  # 👈 Fill this in!

### Use the features to make predictions on the test set

Use the `predict` method to make predictions on the test set.

In [117]:
# 👇 Your code goes here!
y_pred = model.predict(X_test)
y_pred

array([ True, False, False, ...,  True, False, False])

### Create a submission file

The submission file has to be in the format of the sample submission file. It has two columns: PassengerId and Transported.

In [120]:
submission_df = pd.DataFrame({
    "PassengerId":df_test["PassengerId"],
    'Transported':y_pred.astype(bool)
    })
submission_df.head()

  PassengerId  Transported
0     0013_01         True
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False

### Save the submission file

Save the submission file as CSV.

In [121]:
SUBMISSION_DATA_PATH = "Data/spaceship-titanic/submission.csv"

submission_df.to_csv(SUBMISSION_DATA_PATH, index=False)